<footer>
  <div class="fineprint">
    Built with <span role="presentation" aria-hidden="true">❤️</span
    ><span class="sr-only">love</span> in the Midwestern Suburbs<br />
    Designed & Developed with assists from a whole slew of
    <a>people, places & things</a>.
  </div>
  <button id="theme-toggle" class="button button--secondary button--small">
    <span class="button__text">
      <span class="button-emoji" aria-hidden="true" role="presentation">
        <span class="toDark">&#x1f31a;</span>
        <span class="toLight">&#x1f31e;</span>
      </span>
      <span class="button-label">
        <span class="toDark"
          ><span class="sr-only">Switch to Dark </span>Mode</span
        >
        <span class="toLight"
          ><span class="sr-only">Switch to Light </span>Mode</span
        >
      </span>
    </span>
  </button>
</footer>
