* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--head-foot-color);
  font-family: "PT Sans", sans-serif;
}

.cg-logo {
  display: inline-block;
  height: 55px;

  @media screen and (min-width: $small-screen) {
    height: 70px;
  }
  .cee {
    fill: var(--logo-accent);
  }
  .gee {
    fill: var(--logo-main);
  }
}

.nameplate {
  background: var(--head-foot-color);
  border-bottom: 5px solid var(--head-foot-border-color);
  box-shadow: 0px 8px 10px -10px $primary-plus6;

  // @media screen and (min-width: $small-screen) {
  //   top: -120px;
  // }

  .header__name,
  .header__logo {
    padding: 1rem 1rem 1.5rem 1rem;
    padding-top: calc(#{$physics-tolerance} + 1rem);

    @media screen and (min-width: $small-screen) {
      padding: 2rem;
      padding-top: calc(#{$physics-tolerance} + 2rem);
    }
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1512px;
  }

  #offset-container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 85px;

    @media screen and (min-width: $small-screen) {
      top: 110px;
    }
  }

  .header__name {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    text-align: right;
    @media screen and (min-width: $small-screen) {
      letter-spacing: 4px;
    }
  }

  .name {
    color: var(--nameplate-main);
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .strap {
    color: var(--nameplate-accent);
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;

    @media screen and (min-width: $small-screen) {
      font-size: 1rem;
      letter-spacing: 2px;
      margin-left: 3.5em;
    }
  }
}

.c-offcanvas {
  background: $primary-plus4;
  background-image: url(../img/drawer-bg.svg);
  background-repeat: repeat;
}

main {
  background-color: var(--body-color);
  padding-top: 205px; // Because the element above it is relatively hidden...
  > div {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative !important;

    @media (min-width: 40rem) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    @media (min-width: 768px) {
      max-width: 34rem;
    }
    @media (min-width: 1200px) {
      max-width: 47em;
    }
  }
}

footer {
  background: var(--head-foot-color);
  border-top: 5px solid var(--head-foot-border-color);
  padding-bottom: 2em;
  text-align: center;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.two-up--flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 1 300px;
    padding: 1em;
  }

  > figure {
    text-align: center;
  }

  img {
    width: 300px;
  }
}
