// The $bouncy transform 'cocks,' then overshoots and corrects for a bit of character
// This can let background elements peek through sometimes, which looks sloppy
// This is the value of that 'cock and correct' to use in positioning
$physics-tolerance: 5px;

$base-nameplate: translate3d(0, -$physics-tolerance, 0);

$shoved-nameplate: translate3d(0, -85px, 0);
$shoved-nameplate-desktop: translate3d(0, -115px, 0);

$closed-drawer: translate3d(0, -205px, 0);

$open-drawer: translate3d(0, -115px, 0);
$open-drawer-desktop: translate3d(0, -160px, 0);

$open-sticky-drawer: translate3d(0, -50px, 0);

// Normal Masthead (Scrolled to the top of page)
#masthead {
  height: 105px;
  position: sticky;
  top: -85px;
  z-index: 100;

  @media screen and (min-width: $small-screen) {
    height: 145px;
    top: -110px;
  }

  .nameplate {
    position: relative;
    z-index: 3000;
    transform: $base-nameplate;
    &.is-shoved {
      transition: $bouncy;
      transform: $shoved-nameplate;
      @media screen and (min-width: $small-screen) {
        transform: $shoved-nameplate-desktop;
      }
    }
  }
  .drawer {
    border-bottom: 5px solid $primary-plus4;
    box-shadow: 0px 8px 10px -10px $primary-plus6;

    position: relative;
    z-index: 2000;
    &.is-closed {
      transform: $closed-drawer;
    }
    &.c-offcanvas--opening {
      transition: $bouncy;
      transform: $open-drawer;
      @media screen and (min-width: $small-screen) {
        transform: $open-drawer-desktop;
      }
    }
    &.is-open {
      transform: $open-drawer;
      @media screen and (min-width: $small-screen) {
        transform: $open-drawer-desktop;
      }
    }
  }
}

.has-offcanvas--visible {
  #masthead {
    .nameplate {
      transform: $shoved-nameplate;
      @media screen and (min-width: $small-screen) {
        transform: $shoved-nameplate-desktop;
      }

      &.is-not-shoved {
        transform: $base-nameplate;
        transition: $bouncy;
      }
    }
    .drawer.c-offcanvas--closing {
      transform: $closed-drawer;
      transition: $bouncy;
    }
  }
}

// Sticky Masthead (NOT scrolled to the top of page)
#masthead.is-sticky {
  .nameplate {
    transform: $base-nameplate;
  }
  .drawer.c-offcanvas--opening {
    transition: $bouncy;
    transform: $open-sticky-drawer;
  }
  .drawer.is-open {
    transform: $open-sticky-drawer;
  }
}
.has-offcanvas--visible {
  #masthead.is-sticky {
    .drawer.is-animating.c-offcanvas--closing {
      transition: $bouncy;
      transform: $closed-drawer;
    }
    .drawer.is-closed {
      transform: $closed-drawer;
    }
  }
}
